<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${site_name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            margin-top: 4vh;
            margin-left: 5vw;
            margin-right: 5vw;
        }
        a.link {
            font-size: 1.2em;
            text-decoration: underline;
            color: #000;
        }
        a.link:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<h1>${site_name}</h1>
<a class="link" href="${base_url}/">Home</a> &nbsp;&nbsp;
<a class="link" href="${base_url}/about/">About</a> &nbsp;&nbsp;
<hr>